@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #f1f5f9;
}

*::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 20px;
  border: 3px solid #94a3b8;
}
